.fund-text {
  font-weight: 700 !important;
  font-size: 17px;
}

.company-text {
  font-weight: 400 !important;
  font-size: 15px;
}

.center-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result-card {
  border-radius: 5px;
  border: solid 1px #9da5ac;
}
